@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
  video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }





.hero .hero-container {
    top: 25%;
    position: absolute;
    text-align: center;
    margin: 1rem;
    width: 100%;
}

.hero-logo {
    text-align: center;
}

.hero h1 {

    font-size: 5rem;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.hero h2 {
    font-size: 1.5rem;
    color: rgb(229, 231, 229);
}

.hero-container p {
    font-size: 18px;
    color: white;
}

.hero .hero-btn button {
    cursor: pointer;
}






/* MEDIA QUERIES */

@media screen and (max-width:1200px) {

    .hero h2 {
        font-size: 18px;
    }

    .hero h1 {
    font-size: 3rem;
    }

    .hero p {
        font-size: 12px;
    }




}
