@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.bipolar-disorder {
    width: 100%;
    height: 80vh;
    background: #0000007e;
    position: relative;
  }
  
  .bipolar-disorder:before {
    content: '';
    position: absolute;
    background: url('https://rodeo-recovery-substance-abuse.s3.us-west-1.amazonaws.com/mdma.jpg') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.bipolar-disorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bipolar-disorder-content {
    display: block;
    position: absolute;
    bottom: 20%;
    padding: 1rem;
}

.bipolar-disorder h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.bipolar-disorder h1 {
    font-size: 2rem;
}

}